@import "tailwindcss";

/* primary : #144a31  to  #387c40*/
/* secondary : #f7f7f7 */
/* accent : #ffffff */

.mukta-malar-extralight {
  font-family: "Mukta Malar", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.mukta-malar-light {
  font-family: "Mukta Malar", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.mukta-malar-regular {
  font-family: "Mukta Malar", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.mukta-malar-medium {
  font-family: "Mukta Malar", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.mukta-malar-semibold {
  font-family: "Mukta Malar", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.mukta-malar-bold {
  font-family: "Mukta Malar", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.mukta-malar-extrabold {
  font-family: "Mukta Malar", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.custom-ag-theme {
    --ag-font-size: 15px;

    --ag-cell-font-size: 15px;

    --ag-border-width: 2px;
    --ag-border-color: #387c40;
    --ag-grid-border-radius: 8px;

    --ag-header-background-color: #387c40;
    --ag-header-foreground-color: #ffffff;
    --ag-header-cell-text-color: #ffffff;

    --ag-row-hover-color: #144a3110;
    --ag-row-height: 60px;
    --ag-background-color: #f7f7f7;
    --ag-row-background-color: #ffffff;
    --ag-odd-row-background-color: #f7f7f7;
    --ag-primary-color: #387c40;

    --ag-cell-horizontal-padding: 1.5rem;
}